streamlit==1.51.0
python-dotenv==1.0.1
pandas==2.2.3

langchain==0.3.7
langchain-community==0.3.7
langchain-openai==0.2.4
openai==1.55.3

chromadb==0.5.17
chroma-hnswlib==0.7.6
pydantic==2.9.2
numpy==1.26.4

rank-bm25==0.2.2